BankStub/Bank.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://bank.alma.fr" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2429="http://impl.valueobject.domaine.alma.fr/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://bank.alma.fr">
    <wsdl:documentation>Bank</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2430="http://impl.valueobject.domaine.alma.fr/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://bank.alma.fr">
            <xs:import namespace="http://impl.valueobject.domaine.alma.fr/xsd"/>
            <xs:element name="payment">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="cardNumber" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="cryptogram" type="xs:int"/>
                        <xs:element minOccurs="0" name="month" type="xs:int"/>
                        <xs:element minOccurs="0" name="year" type="xs:int"/>
                        <xs:element minOccurs="0" name="amount" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="paymentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="currencyConvertor">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="fromCurrency" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="toCurrency" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="currencyConvertorResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="hasEnoughMoney">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="c" nillable="true" type="ax2429:CreditCard"/>
                        <xs:element minOccurs="0" name="amount" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="hasEnoughMoneyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://impl.valueobject.domaine.alma.fr/xsd">
            <xs:complexType name="CreditCard">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cardCryptogram" type="xs:int"/>
                    <xs:element minOccurs="0" name="cardNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="expirationMonth" type="xs:int"/>
                    <xs:element minOccurs="0" name="expirationYear" type="xs:int"/>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="money" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="hasEnoughMoneyRequest">
        <wsdl:part name="parameters" element="ns:hasEnoughMoney"/>
    </wsdl:message>
    <wsdl:message name="hasEnoughMoneyResponse">
        <wsdl:part name="parameters" element="ns:hasEnoughMoneyResponse"/>
    </wsdl:message>
    <wsdl:message name="currencyConvertorRequest">
        <wsdl:part name="parameters" element="ns:currencyConvertor"/>
    </wsdl:message>
    <wsdl:message name="currencyConvertorResponse">
        <wsdl:part name="parameters" element="ns:currencyConvertorResponse"/>
    </wsdl:message>
    <wsdl:message name="paymentRequest">
        <wsdl:part name="parameters" element="ns:payment"/>
    </wsdl:message>
    <wsdl:message name="paymentResponse">
        <wsdl:part name="parameters" element="ns:paymentResponse"/>
    </wsdl:message>
    <wsdl:portType name="BankPortType">
        <wsdl:operation name="hasEnoughMoney">
            <wsdl:input message="ns:hasEnoughMoneyRequest" wsaw:Action="urn:hasEnoughMoney"/>
            <wsdl:output message="ns:hasEnoughMoneyResponse" wsaw:Action="urn:hasEnoughMoneyResponse"/>
        </wsdl:operation>
        <wsdl:operation name="currencyConvertor">
            <wsdl:input message="ns:currencyConvertorRequest" wsaw:Action="urn:currencyConvertor"/>
            <wsdl:output message="ns:currencyConvertorResponse" wsaw:Action="urn:currencyConvertorResponse"/>
        </wsdl:operation>
        <wsdl:operation name="payment">
            <wsdl:input message="ns:paymentRequest" wsaw:Action="urn:payment"/>
            <wsdl:output message="ns:paymentResponse" wsaw:Action="urn:paymentResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BankSoap11Binding" type="ns:BankPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="hasEnoughMoney">
            <soap:operation soapAction="urn:hasEnoughMoney" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="currencyConvertor">
            <soap:operation soapAction="urn:currencyConvertor" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="payment">
            <soap:operation soapAction="urn:payment" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="BankSoap12Binding" type="ns:BankPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="hasEnoughMoney">
            <soap12:operation soapAction="urn:hasEnoughMoney" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="currencyConvertor">
            <soap12:operation soapAction="urn:currencyConvertor" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="payment">
            <soap12:operation soapAction="urn:payment" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="BankHttpBinding" type="ns:BankPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="hasEnoughMoney">
            <http:operation location="hasEnoughMoney"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="currencyConvertor">
            <http:operation location="currencyConvertor"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="payment">
            <http:operation location="payment"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Bank">
        <wsdl:port name="BankHttpSoap11Endpoint" binding="ns:BankSoap11Binding">
            <soap:address location="http://192.168.1.3:9763/services/Bank.BankHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="BankHttpsSoap11Endpoint" binding="ns:BankSoap11Binding">
            <soap:address location="https://192.168.1.3:9443/services/Bank.BankHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="BankHttpsSoap12Endpoint" binding="ns:BankSoap12Binding">
            <soap12:address location="https://192.168.1.3:9443/services/Bank.BankHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="BankHttpSoap12Endpoint" binding="ns:BankSoap12Binding">
            <soap12:address location="http://192.168.1.3:9763/services/Bank.BankHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="BankHttpsEndpoint" binding="ns:BankHttpBinding">
            <http:address location="https://192.168.1.3:9443/services/Bank.BankHttpsEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="BankHttpEndpoint" binding="ns:BankHttpBinding">
            <http:address location="http://192.168.1.3:9763/services/Bank.BankHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>